## test pg connection

In [12]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [4]:
!pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in /Users/afrogrit/miniconda3/envs/zc-mlops/lib/python3.10/site-packages (1.4.48)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-macosx_10_9_x86_64.whl.metadata (4.4 kB)
Requirement already satisfied: greenlet!=0.4.17 in /Users/afrogrit/miniconda3/envs/zc-mlops/lib/python3.10/site-packages (from sqlalchemy) (2.0.2)
Downloading psycopg2_binary-2.9.9-cp310-cp310-macosx_10_9_x86_64.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 5.7 MB/s eta 0:00:0000:0100:01m
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi_pg')
engine.connect()

In [6]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

## ingest data into postgress

In [14]:
df = pd.read_csv('ny_taxi_data/yellow_tripdata_2021-01.csv.gz')

/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/3479299894.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ny_taxi_data/yellow_tripdata_2021-01.csv.gz')

In [15]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,1.271413e+06,1.271413e+06,1.369765e+06,1.271413e+06,1.369765e+06,1.369765e+06,1.271413e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06
mean,1.676925e+00,1.411508e+00,4.631982e+00,1.035081e+00,1.652472e+02,1.614956e+02,1.280521e+00,1.209662e+01,9.705085e-01,4.930411e-01,1.918099e+00,2.477432e-01,2.969412e-01,1.747439e+01,2.116098e+00
std,4.676513e-01,1.059833e+00,3.939042e+02,5.994840e-01,6.783849e+01,7.210800e+01,4.916921e-01,1.291338e+01,1.231256e+00,7.632070e-02,2.597153e+00,1.672755e+00,4.222174e-02,1.469343e+01,9.287277e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.900000e+02,-5.500000e+00,-5.000000e-01,-1.000000e+02,-3.112000e+01,-3.000000e-01,-4.928000e+02,-2.500000e+00
25%,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.240000e+02,1.070000e+02,1.000000e+00,6.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.080000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.700000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,8.500000e+00,0.000000e+00,5.000000e-01,1.860000e+00,0.000000e+00,3.000000e-01,1.380000e+01,2.500000e+00
75%,2.000000e+00,1.000000e+00,3.020000e+00,1.000000e+00,2.360000e+02,2.360000e+02,2.000000e+00,1.350000e+01,2.500000e+00,5.000000e-01,2.750000e+00,0.000000e+00,3.000000e-01,1.912000e+01,2.500000e+00
max,2.000000e+00,8.000000e+00,2.631633e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,6.960500e+03,8.250000e+00,5.000000e-01,1.140440e+03,8.117500e+02,3.000000e-01,7.661280e+03,3.000000e+00

In [16]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [33]:
df_iter = pd.read_csv('ny_taxi_data/yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)
# df = next(df_iter)
# len(df)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [21]:
chunks = []  # List to store data chunks

while True: 
    try:
        df = next(df_iter)
    except StopIteration:
        print("Finished reading data.")
        break

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
    
    chunks.append(df)

# Write all data to SQL outside the loop
t_start = time()
for df in chunks:
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
t_end = time()

print('Inserted all chunks, took %.3f second' % (t_end - t_start))

/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, infer_datetime_format=True)
/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/639167846.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, infer_datetime_format=True)

Finished reading data.
Inserted all chunks, took 172.485 second

In [39]:
total_time = 0

while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))
    total_time = total_time + (t_end - t_start)

    print(f'total time taken {total_time}')

inserted another chunk, took 12.140 second
total time taken 12.139750242233276
inserted another chunk, took 13.618 second
total time taken 25.757859230041504
inserted another chunk, took 14.685 second
total time taken 40.443119287490845
inserted another chunk, took 12.738 second
total time taken 53.18066740036011
inserted another chunk, took 13.258 second
total time taken 66.4385552406311
inserted another chunk, took 12.986 second
total time taken 79.42419409751892
inserted another chunk, took 15.440 second
total time taken 94.86382603645325
inserted another chunk, took 14.032 second
total time taken 108.89629602432251

/var/folders/ts/4n4696j93m3gbfdw1gxpvf880000gn/T/ipykernel_54771/2704710022.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 11.965 second
total time taken 120.86107993125916
inserted another chunk, took 9.031 second
total time taken 129.8918628692627

StopIteration: